:root {
  --background: #70587c;
  --foreground: #502f4c;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-Amatic_SC);
  padding: 1rem;
  display: grid;
}
