.header {
    box-shadow: 0 4px 2px -2px #502F4C;

    z-index: 999;
    align-items: center;
    display: flex;
    justify-content: center;

    .logo {
        font-size: 25px;
        font-family: var(--font-rubik-moonrocks);
    }

    .login-cmp {
        position: absolute;
        left: 80%;
    }

}