.loader{
    max-height: 100vh;
    max-width: 100vw;
    z-index: 999;
    background-color: #0f0529;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    overflow: hidden;
}